.navigation-container1 {
  display: contents;
}
 
.navigation-btn1 {
  border-color: #ff0004;
}
 
.navigation-navigation-toggle-icon1 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-icon2 {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
