.vlog-cards-container.black-bg {
  background: #a3a3a3;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  max-width: 100vw;
  border-radius: 0;
  bottom
}

.vlog-cards-container.black-bg > .vlog-cards-header,
.vlog-cards-container.black-bg > .vlog-card {
  padding-left: 32px;
  padding-right: 32px;
}

.vlog-cards-container {
  background: #e0e0e0; /* Light gray for all other sections */
}